<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    <h1>Perfil de {{ user.first_name }} {{ user.last_name }}</h1>
    <p><strong>Nombre:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
    <p><strong>Carnet:</strong> {{ user.profile.carnet }}</p>  

    <a href="{% url 'home' %}">Volver a la página de inicio</a>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
</body>
</html>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    <h1>Perfil de {{ user.first_name }} {{ user.last_name }}</h1>
    <p><strong>Nombre:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
    <p><strong>Carnet:</strong> {{ user.profile.carnet }}</p>  

    <a href="{% url 'home' %}">Volver a la página de inicio</a>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
    <a href="{% url 'crear_publicacion' %}">Crear Publicación</a> 
</body>
</html>
